/*panel-embrace-rehab*/

#todoListBox{
	width: 100%;
	height: 100%;
	overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    padding: 0px 20px 40px 20px;
}

.panel-embrace-rehab{
	padding-top:0px;
	min-height: 96px;
	height:auto;
	width: 100%;
	text-align: left;
	border-radius: 8px;
	border:solid 1px #DDD;
}

.panel-heading{

}

.todoDueTime{
	color:#FF6600;
}

